<h1>Hola Mundo</h1>
<hr>
<p>{{title}} bienvenidos a Angular</p>

<p>Del app.component</p>
<h3> Counter :
  {{counter}}
</h3>

<button (click)="increaseBy(1)">+1</button>
<button (click)="increaseBy(-1)">-1</button>
<button (click)="reset()">Reset counter to 0</button>

<hr>

<h1> <strong> COMPONENTE COUNTER</strong></h1>

<app-counter></app-counter>
<app-counter></app-counter>
<br>

<strong>estos dos contadores son independientes xq pertenecen a componentes diferentes</strong>

<hr>
<hr>

<h1> <strong> COMPONENTE HEROES</strong></h1>
<app-heroes-hero></app-heroes-hero>

<h1> <strong> COMPONENTE HEROES LIST</strong></h1>
<app-heroes-list></app-heroes-list>

<hr>
<hr>
<h1> <strong> COMIENZA EL MÓDULO DBZ</strong></h1>
<h2>  COMPONENTE MAIN PAGE</h2>
<app-dbz-main-page></app-dbz-main-page>
<h3> <strong> FIN COMPONENTE MAIN PAGE</strong></h3>
<hr>
<hr>

<h1>Hey david!</h1>
