<app-test-component-dmv></app-test-component-dmv>

<h1>Event binding</h1>

<button [disabled]="btnDisabled">Enviar</button><br><br>
<button (click)="toggleBtn()" >Toggle Buton</button>
<p>{{person.age}}</p>

<button (click)="age_plus()">age++</button>

<hr>

<!-- ngModel -->

<p>Nombre:{{person.name}}</p>
<p>Edad:{{person.age}}</p>

<input type="text" #nameInput="ngModel" [(ngModel)]="person.name" required>  <br>
<input type="number" max="18" min="10" #ageInput="ngModel" [(ngModel)]="person.age" required>

<p>Valid: {{nameInput.valid }}</p>
<p>Valid: {{ageInput.valid }}</p>

<hr>

<div class="box" (scroll)="miScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, id, debitis numquam provident unde exercitationem recusandae laboriosam nesciunt modi ipsam optio, ullam quae fugiat molestias nulla deserunt maxime corporis quam.
  Hic debitis beatae rerum, maiores dignissimos praesentium illo repudiandae velit quos a ipsam, quas voluptatem! Nemo perferendis repellat similique hic! Voluptatum aliquam modi totam quas officiis sint adipisci quod ipsam.
  Minus molestiae vero id numquam dolores, magnam labore aspernatur deleniti odio voluptatibus hic. Tempora debitis rem tempore, quasi quis fugit accusantium veritatis omnis reiciendis aliquam amet exercitationem, recusandae, velit quisquam!</p>
</div>

<p>tu nombre:{{person.name}}</p>
<input type="text" (keyup)="myKeyup($event)">

<hr>
<h1>Propiedades</h1>

<button [disabled]="btnDisabled">Enviar</button><br><br>
<input type="text" [value]="name">
<progress max="100" [value]="age" ></progress>
<img [src]="img" width="100">+

<br><br>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age" ></progress>
<img [src]="person.avatar" width="100">


<hr>
<h1>Hello world</h1>
<h2>{{ 'Hola dmv'.repeat(2) }}</h2>

<h3>3+3={{3+3}}</h3>

<h3>Hola! soy {{name}} y tengo {{age}} años</h3>

<img src="{{img}}" alt="">

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"></script>
