<!-- <p-panel [showHeader]="false" header="Pipes Básicos"> -->
<p-panel header="Pipes Básicos" class="p-2">
  <p>Pipes incluidos en Angular - Usualente en el common Module</p>

</p-panel>


<div class="grid">
  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">

      <p>
        saludos {{name}}, es un placer {{gender | i18nSelect:invitationMap}} a nuestro evento
      </p>

      <p-button (click)="changeClient()" label="Cambiar cliente">
      </p-button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>
        Actualmente {{clients.length | i18nPlural : clientMap}}
      </p>

      <p-button label="borrar cliente" (click)="delClient()"></p-button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <b>Original</b>
      <pre>{{ clients }}</pre>

      <b>Slice 0:2</b>
      <pre>{{ clients | slice : 0:2 }}</pre>

      <b>Slice 1:2</b>
      <pre>{{ clients | slice : 1:2 }}</pre>

      <b>Slice 0: -1</b>
      <pre>{{ clients | slice : 0:-1 }}</pre>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Json Pipe" [toggleable]="true">
      <pre>{{ person | json}}</pre>

    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of person | keyvalue">
          <b>{{item.key}}</b> : <span>{{item.value}}</span>
        </li>
      </ul>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Async  Pipe" [toggleable]="true">

      <pre *ngIf="!(myObservableTime | async )">Resolviendo observable</pre>
      <pre>{{myObservableTime | async }}</pre>

      <pre *ngIf="!(myPromiseValue | async )">Resolviendo promesa</pre>
      <pre>{{myPromiseValue | async }}</pre>

    </p-fieldset>
  </div>
</div>